{% extends "base.html" %}

{% block title %}
دفتر تلفن
{% endblock %}

{% block content %}


<div class="d-flex justify-content-between align-items-center mb-4">

    <h2>دفتر تلفن</h2>

    <a href="{% url 'contact-create' %}"
       class="btn btn-primary">

        افزودن مخاطب

    </a>

</div>

<div class="card mb-4">

    <div class="card-header">

        فیلتر و جستجوی مخاطبین

    </div>

    <div class="card-body">

        <form method="get" class="row g-3">

            <div class="col-md-4">

                <label class="form-label">
                    نام یا شماره همراه
                </label>

                <input
                    type="text"
                    name="q"
                    class="form-control"
                    placeholder="وارد کنید..."
                    value="{{ request.GET.q }}"
                >

            </div>

            <div class="col-md-3">

                <label class="form-label">
                    از تاریخ تولد
                </label>

                <input
                    type="date"
                    name="start_date"
                    class="form-control"
                    value="{{ request.GET.start_date }}"
                >

            </div>

            <div class="col-md-3">

                <label class="form-label">
                    تا تاریخ تولد
                </label>

                <input
                    type="date"
                    name="end_date"
                    class="form-control"
                    value="{{ request.GET.end_date }}"
                >

            </div>
            
            {% if search_form.non_field_errors %}

            <div class="alert alert-danger">

                {{ search_form.non_field_errors }}

            </div>

            {% endif %}

            <div class="col-md-2 d-flex align-items-end">

                <button
                    type="submit"
                    class="btn btn-primary w-100">

                    جستجو

                </button>

            </div>

        </form>

    </div>

</div>


<table class="table table-bordered table-hover">

    <thead>

    <tr>

        <th>تصویر</th>

        <th>نام</th>

        <th>شماره همراه</th>

        <th> تاریخ تولد</th>

        <th>عملیات</th>

    </tr>

    </thead>

    <tbody>

    {% for contact in contacts %}

    <tr>

        <td> 
            
            {% if contact.image %}

            <img 

                src="{% url 'contact-image' contact.id %}"
                width="60"
                height="60"
                class="rounded"
            >

            {% endif %}

        </td>

        <td>
            <a href="{% url 'contact-detail' contact.id %}">

                {{ contact.full_name }}

            </a>
        </td>

        <td>{{ contact.mobile }}</td>

        <td>{{ contact.jalali_birth_date }}</td>

        <td>
            <a href="{% url 'contact-edit' contact.id %}"
               class="btn btn-warning btn-sm">

                ویرایش

            </a>
        

        

            <a href="{% url 'contact-delete' contact.id %}"
               class="btn btn-danger btn-sm">

                حذف

            </a>

        </td>

    </tr>

    {% empty %}

    <tr>

        <td colspan="3">

            هیچ مخاطبی ثبت نشده است.

        </td>

    </tr>

    {% endfor %}

    </tbody>

</table>


{% if is_paginated %}

<nav class="mt-4">

    <ul class="pagination justify-content-center">

        {% if page_obj.has_previous %}

            <li class="page-item">
                <a class="page-link"
                   href="?{{ query_string }}&page=1">
                    اول
                </a>
            </li>

            <li class="page-item">
                <a class="page-link"
                   href="?{{ query_string }}&page={{ page_obj.previous_page_number }}"">
                    قبلی
                </a>
            </li>

        {% endif %}

        <li class="page-item active">

            <span class="page-link">

                صفحه {{ page_obj.number }}
                از
                {{ page_obj.paginator.num_pages }}

            </span>

        </li>

        {% if page_obj.has_next %}

            <li class="page-item">
                <a class="page-link"
                   href="?{{ query_string }}&page={{ page_obj.next_page_number }}">
                    بعدی
                </a>
            </li>

            <li class="page-item">
                <a class="page-link"
                   href="?{{ query_string }}&page={{ page_obj.paginator.num_pages }}">
                    آخر
                </a>
            </li>

        {% endif %}

    </ul>

</nav>

{% endif %}

{% endblock %}