{% extends "base.html" %}

{% block title %}
دفتر تلفن
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    {% comment %} <h2>دفتر تلفن</h2>

    <a href="/create/"
       class="btn btn-primary">

        افزودن مخاطب

    </a>

</div> {% endcomment %}

<form method="get" class="row g-3 mb-4">

    <div class="col-md-4">

        <input
            type="text"
            name="q"
            class="form-control"
            placeholder="نام یا شماره همراه"
            value="{{ request.GET.q }}"
        >

    </div>

    <div class="col-md-3">

        <input
            type="date"
            name="start_date"
            class="form-control"
            value="{{ request.GET.start_date }}"
        >

    </div>

    <div class="col-md-3">

        <input
            type="date"
            name="end_date"
            class="form-control"
            value="{{ request.GET.end_date }}"
        >

    </div>

    <div class="col-md-2">

        <button
            type="submit"
            class="btn btn-primary w-100">

            جستجو

        </button>

    </div>

</form>

</form>

    <a href="/create/"
       class="btn btn-primary">

        افزودن مخاطب

    </a>

</div>

<table class="table table-bordered table-hover">

    <thead>

    <tr>

        <th>نام</th>

        <th>شماره همراه</th>

        <th>عملیات</th>

    </tr>

    </thead>

    <tbody>

    {% for contact in contacts %}

    <tr>

        <td>{{ contact.full_name }}</td>

        <td>{{ contact.mobile }}</td>

        <td>

            <a href="/edit/{{ contact.id }}/"
               class="btn btn-warning btn-sm">

                ویرایش

            </a>

            <a href="/delete/{{ contact.id }}/"
               class="btn btn-danger btn-sm">

                حذف

            </a>

        </td>

    </tr>

    {% empty %}

    <tr>

        <td colspan="3">

            هیچ مخاطبی ثبت نشده است.

        </td>

    </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}